<!DOCTYPE html>
<html>
<head>
<title>Bromer Movie Player</title>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        
    })
</script>
<style>
    body {
        background-color: #00BAE8;
    }

    .movies {
        background-color: #FF8925;
        padding-top: 5px;
    }

    #player {
        width: 100%;
        text-align: center;
    }

    #vid {
        margin: auto;
        min-width: 640px;
        min-height: 480px;
    }

    ul {
        text-align: left;
        list-style-type: none;
    }

</style>
</head>
<body>
    <div id="player">
        <!--
        <video id="vid" controls>
            <source id="play_this" type="video/mp4">
        </video>
        -->
        <ul class="movies">
        <% for(i = 0; i < movies.length; i++) {%>
            <li> <div class="movie"><a href=<%="/Movies/" + i.toString()%> <p> <%= movies[i].substr('/') %></p></div> </li>
        <% } %>
        </ul>
    </div>
</body>
</html>